@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&family=Inter:wght@400;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');
/*
font-family: 'Poppins', sans-serif; 
font-family: 'Amiko', sans-serif;
font-family: 'Inter', sans-serif;
*/

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
html{
    font-size: 16px;
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
}
:root{
    --blue:#DBECFF;
    --black:#000000;
    --white:#FFFFFF;
}

p{
    margin-bottom: 0;
}

/* Main Area Start */
.main__wrapper{
    background-color: var(--blue);
    padding: 20px 18px;
}
.main__content{
    background: #FFFFFF;
    box-shadow: 0px 0px 124px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 56px;
}

.header__area{
    padding: 30px;
}
.banner__area{
    padding-top: 112px;
    padding-bottom: 40px;
}
.banner__content{
    text-align: center;
}
.banner__content h2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 90px;
    letter-spacing: 0.03em;
    color: #262E5D;
}
.banner__content p{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #76768F;
    max-width: 776px;
    margin:0 auto 24px auto;
}
.search__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search__wrapper input{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #76768F;
    background: #F5F7FB;
    box-shadow: inset -3px -2px 9px rgba(217, 219, 236, 0.4), inset 2px 2px 4px #D0D0EB;
    border-radius: 100px;
    width: 100%;
    max-width: 362px;
    padding:15px 40px;
    border: none;
}
.search__wrapper input::placeholder{
    opacity: 0.5;
}
.search__wrapper input:focus{
    box-shadow: inset -3px -2px 9px rgba(217, 219, 236, 0.4), inset 2px 2px 4px #D0D0EB;
    background: #F5F7FB;
    outline: none;
    border: none;
}
.search__wrapper button{
    background: linear-gradient(117.57deg, #0011AA 15.67%, #4700BB 80.01%);
    box-shadow: inset 4px 3px 4px rgba(0, 0, 0, 0.11), inset -1px -2px 5px rgba(255, 255, 255, 0.44);
    border-radius: 30px;
    padding: 14px 24px;
    border: none;
    margin-left: -50px;
}

.search__wrapper button:focus{
    box-shadow:none;
}

/* Card Section Start */
.card__section-start{
    padding-top: 32px;
    padding-bottom: 24px;
}
.fuel__station-card{
    background: #FFFFFF;
    box-shadow: 0px 5px 20px 20px rgb(0 0 0 / 1%);
    border-radius: 10px;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    margin-bottom: 20px;
}
.fuel__station-card .card__image{
    width: 100%;
    height: 185px;
}
.fuel__station-card .card__image img{
    width: 100%;
    height:100%;
}
.fuel__station-card .card__content{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 108px;
}
.fuel__station-card .card__content p{
    font-family: 'Amiko', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
    text-align: center;
    color: #313237;
    padding: 32px 0;
}

/*Card Section End*/



/* Inner Page banner CSS */
.inner--page .banner__content p{
    max-width: 991px;
}

/* Body Content */
.body__content-area{
    max-width:1085px;
    margin:0 auto;
    padding: 60px 40px;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.body__content{
    border-top: 1px dashed #718797;
    border-bottom: 1px dashed #718797;
}
.body__content p{
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #313237;
    padding: 32px 0;
}
.body__content h2{
    font-family: 'Amiko', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
    color: #313237;
    text-align: center;
    padding: 16px 0;
    margin-bottom: 0;
}
/* Body Content */

/* How to use fuel efficiently */

.effient__fuel{
    max-width:1150px;
    margin: 0 auto;
    padding-top: 48px;
    padding-bottom: 72px;
}
.effient__fuel .row{
    position: relative;
}
.effient__fuel .row::after{
    content: "";
    width: 70%;
    height: 1px;
    background: #B6C7D4;
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
}
.effient__fuel h1{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 48px;
}
.fuel__efficient-content {
    text-align: center;
    padding: 0 48px;
}
.fuel__efficient-content h2{
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
    color: #000000;
    margin-bottom: 32px;
    position: relative;
    z-index:20;
}
.fuel__efficient-content h2 span{
    background: #ffffff;
    padding:6px 12px;
}
.fuel__efficient-content p{
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #313237;
}
/* How to use fuel efficiently */

/* Inner Page banner CSS */

/* Footer Content */
.footer__area {
    padding-top: 40px;
}
.footer__content{
    text-align: center;
}
.footer__content h4{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #313237;
    margin-bottom: 0px;
}
.footer__content a{
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #718797;
    text-decoration: none;
}

/* Main Area End */